.creating_daniel{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.horizontaldan {
    display: flex;
    /* flex-direction: column; */
    justify-content:center;
    /* align-items: center; */
    gap: 18px;
}

.iodan {
    width: 255px;
    height: 255.8px;
    text-align: center;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    /* align-items: center; */
}

.danieltop {
    width: 450px;
    /* margin-inline: auto; */
    /* justify-content: center; */
}

.creating_daniel h1 {
    font-family:'Inter', sans-serif;
    font-size: 25.06px;
    line-height: 30.63px;
    text-align: center;
    font-weight: 600;
    color: #4D4D4D;
}

.creating_daniel p {
    margin: auto;
    font-family:'Inter', sans-serif;
    font-size: 11.14px;
    line-height: 16.71px;
    text-align: center;
    font-weight: 400;
    /* width: 447.13px; */
    color: #717171;
}

.horizontaldan img {
    width: 256.15px;
    height:199.08px;
    border-radius: 5.57px;
}

.infodan{
    background-color: #F5F7FA;
    margin:auto;
    position:absolute;
    margin-inline: auto;
    top:245.1px;
    width:220.65px;
    height:123.55px;
    text-align: center;
    box-shadow: 0px 5.57px 11.14px #ABBED166;
    border-radius: 5.57px;
    padding-inline:11.14px;
}

.horizontaldan h2{
    font-size: 13.92px;
    line-height: 19.49px;
    font-weight: 600;
    font-family:'Inter', sans-serif;
    text-align: center;
    color:#717171;
}

.creating_daniel a{
    color: #4CAF4F;
    text-decoration: none;
    font-family:'Inter', sans-serif;
    font-weight: 600;
    font-size:13.92px;
}